* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  background-color: #393E46;
  color: #EEEEEE;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
}
